<app-navigation></app-navigation>
<h1>
  Validation des missions
</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date de début</th>
      <th scope="col">Date de fin</th>
      <th scope="col">Nature</th>
      <th scope="col">Départ</th>
      <th scope="col">Arrivée</th>
      <th scope="col">Transport</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of missions">
      <td>{{m.dateDebut}}</td>
      <td>{{m.dateFin}}</td>
      <td>{{m.nature}}</td>
      <td>{{m.depart}}</td>
      <td>{{m.arrivee}}</td>
      <td>{{m.transport}}</td>
      <td>À ajouter</td>
    </tr>
  </tbody>
</table>
