<div class="container">
  <div class="row">
    <div class="col-9">
        <div class="container" ng-controller="HeaderController">
            <nav class="mb-3">
              <div class="row">
                <!-- la classe CSS active-link est ajouté à l'élément lorsque la route désignée est active -->
                <div class="col border"><a routerLink="/tech" routerLinkActive="active-link" > Accueil  </a></div>
                <div class="col border"><a routerLink="/gestion-missions" routerLinkActive="active-link" > Gestion des missions </a></div>
                <div class="col border"><a routerLink="/planning-missions" routerLinkActive="active-link" > Planning des missions </a></div>
                <div class="col border"><a routerLink="/primes" routerLinkActive="active-link" > Primes  </a></div>
                <div class="col border"><a routerLink="/saisie-frais" routerLinkActive="active-link" > Saisie note de frais </a></div>
                <div *ngIf="testAdmin" class="col border"><a routerLink="/nature-missions" routerLinkActive="active-link" > Nature de mission </a></div>
                <div *ngIf="testManager" class="col border"><a routerLink="/valider-missions" routerLinkActive="active-link" > Validation des missions </a></div>
              </div>
            </nav>
        </div>
    </div>
    <div class="col-1"><p class="text-right">Bonjour</div>
  </div>
</div>



