<p class="text-right">Bonjour {{prenom}} <a href="">Se déconnecter</a></p>
<div class="container" ng-controller="HeaderController">
    <nav class="border border-dark mb-3">
        <!-- la classe CSS active-link est ajouté à l'élément lorsque la route désignée est active -->
        <a routerLink="/tech" routerLinkActive="active-link" > Acceuil  </a>
        <a routerLink="/gestion-missions" routerLinkActive="active-link" > Gestion des missions </a>
        <a routerLink="/planning-missions" routerLinkActive="active-link" > Planning des missions </a>
        <a routerLink="/primes" routerLinkActive="active-link" > Primes  </a>
        <a routerLink="/saisie-frais" routerLinkActive="active-link" > Saisie note de frais </a>
        <a routerLink="/nature-missions" routerLinkActive="active-link" > Nature de mission </a>
    </nav>
</div>
