<app-navigation></app-navigation>
<h1>
  Nature de mission
</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nature</th>
        <th scope="col">Facturée</th>
        <th scope="col">Prime</th>
        <th scope="col">TJM(€)</th>
        <th scope="col">%Prime</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let n of listeNatureMisions">
        <td>{{n.libelle}}</td>
        <td>{{n.facture}}</td>
        <td>{{n.versementPrime}}</td>
        <td>{{n.tjm}}</td>
        <td>{{n.pourcentage}}</td>
        <td><button type="button" class="close" (click)="natureModification(n.id)">&times;</button><button type="button" class="close" (click)="natureSuppression(n.id)">&#9998;</button></td>
      </tr>
    </tbody>
  </table>
  <div class="container">
      <div class="row">
          <div class="col"><p>Ajouter une nature de mission</p></div>
          <div class="col"><button class="btn btn-primary" type="button" (click)="createnature()">+</button></div>
      </div>
  </div>
